<!-- <div id="bodywrap">
    <div id="content-wrap"> 
      <div class="botomwrap">
        <div class="botomLeft">
          <h4>Client Testimonials</h4>

          <blockquote class="testimonial">
            I just really like it here.
          </blockquote>

          <p class="signature">Ed Prevost<br />
          Visiting Developer</p>
        </div>

        <div class="botomRight">
          <h4>Quick Contact</h4>

          <p class="qcontact"><strong>Enable Labs</strong>
          <br />
          2174 5th Avenue<br />
          Troy, NY 12180<br />
          Telephone: +1 518 272 4455<br />
          E-mail: <a href="mailto:info@enablelabs.com">info@enablelabs.com</a>
          </p>
        </div>
      </div>
</div>
</div>  -->     
      
<div id="footer-wrap">
  <div id="footer">
  <!-- Original footer code, retain to demonstrate how Refinery did translation
  <p>
    <%= t('.copyright', :year => Time.now.year,
                        :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
  </p> -->
    <p class="copyright"> &copy; 2004-<%= Time.now.year %> All Rights Reserved.</p>
    <ul class="footNav">
        <li> <a href="" style="padding-left:0px;"> Home </a> </li>
        <li> <a href=""> Services </a> </li>
        <li> <a href=""> Porfolio </a> </li>
        <li> <a href=""> About Us </a> </li>
        <li> <a href=""> Contact Us </a> </li>
    </ul>
    <div class="footLogo">
      <img src="/images/el_logo_footer.png"/>
    </div>
  </div>
</div>
<div id="fotplug"></div>
<script type="text/javascript" language="JavaScript" src="include/scroll.js"/>